@import "../../../../styles/index.scss";

.perProjContainer {
    margin: 0.2rem;
    width: 22.5rem;
    height: 12.6rem;

    .projPreview {
        position: absolute;

        img {
            width: 22.5rem;
            border-radius: 0.5rem;
        }
    }

    .projHoverDetails {
        position: absolute;
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: $primaryNavy;
        opacity: 0;
        transition: all 0.5s ease 0s;

        .projName {
            font-size: 1.2rem;
            font-weight: 400;
            color: $primaryCyan;
        }

        .techUsed {
            font-size: 0.9rem;
            font-weight: 300;
            color: $primaryBG;
        }

        a {
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: 500;
            color: $primaryBG;
            transition: all 0.3s ease 0s;
            padding: 0.2rem 0.7rem;
            border: 1.4px solid $primaryCyan;
            border-radius: 2rem;

            &:hover {
                color: $primaryNavy;
                background-color: $primaryCyan;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}

@media all and (max-width: 480px){
    .perProjContainer {
        width: 19.2rem;
        height: 10.8rem;
    
        .projPreview {
            img {
                width: 19.2rem;
            }
        }
    
        .projHoverDetails {
            .projName {
                font-size: 1rem;
                font-weight: 300;
            }
    
            .techUsed {
                font-size: 0.8rem;
                font-weight: 300;
            }
    
            a {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
    }
}