@import "../../../styles/index.scss";

.navBarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    background-color: $navBarColor;
    box-shadow: 0 0 2rem $navBarColor;
    transition: all 0.5s ease 0s;
    z-index: 90;

    .navBarLayout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: inherit;

        .myIcon img {
            width: 4rem;
            transition: all 0.3s ease 0s;

            &:hover {
                transform: rotate(-360deg);
                filter: drop-shadow(0 0 5px $primaryBG);
            }
        }

        .navLinks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 5rem;

            a {
                margin: 1rem;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 400;
                color: $primaryBG;
                transition: all 0.3s ease 0s;
        
                &:hover {
                    color: $primaryPink;
                    text-shadow: 0 0 5px $primaryPink;
                }
        
                &:active {
                    color: $primaryCyan;
                    text-shadow: 0 0 5px $primaryCyan;
                }
            }
        }
    }
}

@media all and (min-width: 961px){
    .navBarContainer.top {
        height: 5.5rem;
        background-color: transparent;
        box-shadow: 0 0 0.5rem #0b0c1050;
    }

    .navBarContainer.fadeUp {
        top: -10rem;
    }
}

@media all and (max-width: 960px){
    .hamburgerContainer {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1.5rem;
        width: 50px;
        height: 50px;
        z-index: 100;

        .hamburgerMenu {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,- 50%);
            width: 30px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $primaryPink;
            transition: all 0.3s ease 0s;
        }
        .hamburgerMenu::before, .hamburgerMenu:after {
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $primaryPink;
            transition: all 0.3s ease 0s;
        }
        .hamburgerMenu::before {
            transform: translateY(-10px);
        }
        .hamburgerMenu::after {
            transform: translateY(10px);
        }

        .hamburgerMenu.open {
            left: -30px;
            background-color: transparent;
        }
        .hamburgerMenu.open::before {
            transform: rotate(45deg) translate(30px, -30px);
        }
        .hamburgerMenu.open::after {
            transform: rotate(-45deg) translate(30px, 30px);
        }

        &:focus {
            outline: none;
        }
    }

    .navBarContainer {
        right: -80vw;
        width: 50vw;
        height: 100vh;
        border-top-left-radius: 5rem 10rem;
        border-bottom-left-radius: 5rem 10rem;

        .navBarLayout {
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            height: 100vh;

            .navLinks {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 60vh;
                
                a {
                    display: block;
                }
            }
        }
        
    }

    .navBarContainer.open {
        right: 0;
    }
}

@media all and (max-width: 480px){
    .navBarContainer {
        width: 70vw;
    }
}