@import "../styles/index.scss";

.perProjectInfo {
    width: 100%;
    min-height: 100vh;
    background-color: $primaryNavy;

    .projInfoContainer {
        padding: 10rem 2rem 0 2rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        
        .projSummary {
            padding: 1rem 5rem;

            .projYear {
                padding: 0.2rem 0.5rem;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: 500;
                color: $primaryNavy;
                background-color: $primaryCyan;
                border-radius: 0.5rem;
            }

            .projTitle {
                font-size: 2rem;
                font-weight: 500;
                color: $primaryBG;
            }

            .projType {
                font-size: 1rem;
                font-weight: 300;
                color: $primaryCyan;
            }

            .projBreaker {
                box-shadow: 0 0 5px $primaryBG;
            }

            .projBGHeader {
                font-size: 1.1rem;
                font-weight: 300;
                color: $primaryCyan;
            }

            .projDesc {
                font-size: 1rem;
                font-weight: 300;
                color: $primaryBG;
            }

            .projLink {
                font-size: 0.9rem;
                font-weight: 200;
                color: $primaryBG;

                a {
                    font-size: 1rem;
                    font-weight: 300;
                    text-decoration: none;
                    color: $primaryCyan;

                    &:active {
                        color: $primaryPink;
                    }
                }
            }
        }

        .projStaticImg {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            color: $primaryCyan;

            img {
                width: 100%;
            }
        }

        .viewMoreProj {
            text-align: center;
            padding: 3rem;

            a {
                display: inline-block;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 400;
                color: $primaryBG;
                padding: 0.5rem 1rem;
                border: 1.5px solid $primaryCyan;
                border-radius: 1rem;
                transition: all 0.3s ease 0s;

                &:hover {
                    color: $primaryNavy;
                    background-color: $primaryCyan;
                }
            }
        }
    }
}

@media all and (max-width: 960px){
    .perProjectInfo {
        .projInfoContainer {
            padding: 6rem 2rem 0 2rem;
            width: 85vw;

            .projSummary {
                padding: 1rem;

                .projYear {
                    font-size: 1rem;
                }
    
                .projTitle {
                    font-size: 1.6rem;
                }
    
                .projType {
                    font-size: 0.9rem;
                }
    
                .projBGHeader {
                    font-size: 1rem;
                }
    
                .projDesc {
                    font-size: 0.9rem;
                }

                .projLink {
                    font-size: 0.8rem;
    
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
    
            .projStaticImg {
                text-align: left;
                font-size: 1rem;
            }
    
            .viewMoreProj {
                padding: 2rem;

                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media all and (max-width: 480px){
    .perProjectInfo {
        .projInfoContainer {
            padding: 4rem 1rem 0 1rem;
            width: 95vw;

            .projSummary {
                padding: 1rem;

                .projYear {
                    font-size: 0.9rem;
                    font-weight: 400;
                }
    
                .projTitle {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
    
                .projType {
                    font-size: 0.8rem;
                    font-weight: 300;
                }
    
                .projBGHeader {
                    font-size: 0.9rem;
                    font-weight: 300;
                }
    
                .projDesc {
                    font-size: 0.8rem;
                    font-weight: 300;
                }

                .projLink {
                    font-size: 0.8rem;
    
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
    
            .projStaticImg {
                text-align: left;
                font-size: 0.9rem;
                font-weight: 300;
            }
    
            .viewMoreProj {
                a {
                    font-size: 0.8rem;
                    font-weight: 300;
                    border: 1.3px solid $primaryCyan;
                }
            }
        }
    }
}