@import "../../../styles/index.scss";

footer {
    position: absolute;
    width: 100%;
    height: 6rem;
    background-color: $navBarColor;
    box-shadow: 0 0 20px $navBarColor;
    text-align: center;

    .footerWhoAmI {
        position: absolute;
        top: 30%;
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        color: $primaryPink;
    }

    .devBy {
        position: absolute;
        bottom: 0.8rem;
        width: 100%;
        font-size: 0.8rem;
        font-weight: 200;
        color: $primaryPink;
    }
}

@media all and (max-width: 480px){
    .footer {
        .footerWhoAmI {
            font-size: 0.6rem;
        }

        .devBy {
            font-size: 0.5rem;
        }
    }
}