@import "../../styles/index.scss";

.notFound {
    width: 100%;
    height: 100vh;
    background-color: $primaryNavy;

    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .notFoundTextContainer {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        text-align: center;

        .errorCode {
            font-size: 4rem;
            font-weight: 500;
            color: $primaryBG;
            padding: 2rem 0;
        }

        .compassText {
            font-size: 1.4rem;
            font-weight: 400;
            color: $primaryBG;
            padding: 1rem 0;
        }

        a {
            display: inline-block;
            font-size: 3.5rem;
            color: $primaryBG;
            opacity: 0.5;
            transition: all 0.3s ease 0s;

            &:hover {
                color: $primaryBG;
                opacity: 1;
                transform: rotate(-90deg);
                filter: drop-shadow(0 0 10px $primaryBG);;
            }
        }
    }
}

@media all and (max-width: 960px){
    .notFound {    
        .notFoundTextContainer {
            .errorCode {
                font-size: 3rem;
            }

            .compassText {
                font-size: 1.2rem;
            }
    
            a {
                font-size: 3rem;
            }
        }
    }
}

@media all and (max-width: 480px){
    .notFound {
        .notFoundTextContainer {
            .errorCode {
                font-size: 2rem;
            }

            .compassText {
                font-size: 1rem;
            }
    
            a {
                font-size: 2.5rem;
            }
        }
    }
}